  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;500;600;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: Poppins;
  }

  /* Firefox */
  * {
      scrollbar-width: thin;
      scrollbar-color: #8e8e8e #ffffff;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
      width: 8px;
      width: 8px;
  }

  *::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: #ffffff;
  }

  *::-webkit-scrollbar-track:hover {
      background-color: #ffffff;
  }

  *::-webkit-scrollbar-track:active {
      background-color: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #8e8e8e;
  }

  *::-webkit-scrollbar-thumb:hover {
      background-color: #878787;
  }

  *::-webkit-scrollbar-thumb:active {
      background-color: #8e8e8e;
  }


  body {
      background-color: #000;
      color: #ffffff;
  }

  .heading {
      font-size: 6rem;
      line-height: 0.85;
  }

  .mr-2 {
      margin-right: 0.5rem;
  }

  .sub-heading {
      font-size: 3.5rem;
  }

  .sub-sub-font {
      font-size: .9rem;
  }

  .navbar-toggler {
      border: none;
  }

  .font-head {
      font-family: Bebas Neue;
  }

  .primary-text-color {
      color: #A1E533;
  }

  .nav-link {
      color: #ffff;
  }

  /* buttons */
  .btn-main {
      background-color: #A1E533;
      color: black;
      border: 1px solid #A1E533;

  }

  .my-btn {
      border-radius: 1.5rem;
      font-weight: 500;
      padding: 15px 28px;
      font-size: 14px;
  }

  .btn-main:hover {
      background-color: black;
      color: #A1E533;
      border: 1px solid #A1E533;
  }

  .btn-sec {
      background-color: #211F1F;
      color: #A1E533;
      border: 1px solid #A1E533;
  }

  .btn-sec:hover {
      background-color: #A1E533;
      color: black;
      border: 1px solid #A1E533;
  }

  .my-btn1:hover {
      animation: color 4s linear infinite;
  }

  /* button end */

  /* hero section */
  .hero-section {
      padding: 125px 0;
  }

  .subtitle {
      color: #A6A6A6;
  }

  /* play icon */
  .play-icon {
      opacity: 0;
      width: 0;
      transition: .5s;
  }

  .play-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #A1E533;
      cursor: pointer;
  }

  .play-btn:hover {
      opacity: 0.9;
  }

  .my-btn1:hover .play-icon {
      opacity: 1;
      width: auto;
      padding-left: 10px;
  }

  /* support component */
  .support-img {
      width: 170px;
      /* margin-left: 30px; */
      filter: contrast(0);
      cursor: pointer;
  }

  .support-img:hover {
      filter: contrast(1);
  }

  /* choose us */
  .choose-us {
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 60% 90%, 0 90%);
      ;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 60% 90%, 0 90%);
      ; */
      margin: 20px 0 20px 0;
  }

  .choose-us-content {
      margin-top: 35px;
  }

  /* card */
  .card {
      color: #fff;
      background-color: #211F1F;
  }

  .icon-wrapper {
      display: inline-block;
      max-width: 2.5rem;
      background-color: #313131;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
  }

  .card-icon {
      font-size: 1.25rem;
  }

  .icon-wrapper:hover .card-icon {
      color: #A1E533;
  }

  /* card section end   */

  /* ebook section */
  .ebook-container {
      background-color: #1b1a1a;
  }

  .ebook-img-wrapper {
      background-color: #211F1F;
  }

  /* ebook section end  */
  ::marker {
      color: #A1E533;
  }

  /* input field css  */
  .inputField {
      background-color: #000;
      border: 1px solid #211F1F;
  }

  .inputField:focus {
      outline: none;
      outline-style: solid;
      outline-width: thin;
      outline-color: #5f5e5e;
  }
  input, select, textarea{
    color: #fff;
  }
  /* about  */
  .breadcrumbs-about {
      background-image: url(../src/assets/img/about/breadcrumps.jpg);
      height: 250px;
      padding-top: 100px;
  }
  .set-bg{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
  }

  .breadcrumb-item a {
      text-decoration: none;
      color: #fff;
  }

  .home-icon {
      margin-bottom: 5px;
  }

  /* footer start */

  .footer {
      padding: 20px;
  }

  .footer-line {
      border: 1px solid #211F1F;
      margin-bottom: 20px;
  }

  /* footer ends */